*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #454545;
}
.title{
    
    padding:10px;
    border-bottom: 1px solid #454545;
}

.ex-link{
    padding:10px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;

}
.header{
    background-color: #cccccc;
}

.resultado{
    margin: 20px auto;
    color:tomato;
}
.container{
    border: 1px solid red;
    padding: 10px;
}

.container__click{
    background-color: red;


}
.container__content{
    border:1px solid blue;
    padding:10px;
    display:none;
}
.container--open{
    border:1px solid green;
}
.container--open .container__content{
    display:block;
}
.container--open .container__click{
    background-color:green;
}